@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footer {
    @apply flex;
  }

  .nav-links a {
    @apply flex flex-col items-center align-middle py-4 px-4  text-accent-content transition-colors w-64 !important;
  }
  .nav-links a.active:before {
    @apply text-accent-content translate-x-[22px] rounded-lg !important;
  }
  .nav-links a.active {
    @apply text-accent-content !important;
  }

  nav hr {
    @apply w-full select-secondary;
  }

  .logo {
    @apply bg-[url('./assets/pawpath_logo.png')] mt-3 w-20 h-20 bg-cover;
  }

  form input,
  form select {
    @apply w-[240px] p-1 bg-transparent  border-solid border-2 rounded-md focus:outline-none;
  }
  .leaflet-div-icon {
    background: transparent !important;
    border: none !important;
  }

  .leaflet-popup-content-wrapper,
  .request-popup {
    width: 200px;
    border: 1px solid grey !important;
    border-radius: 5px !important;
    padding: 10 0 !important;
    box-shadow: 0 5px 8px !important;
  }

  .btn {
    min-height: 1rem;
  }

  .modal-box {
    @apply max-w-none !important;
  }
}

.collapse {
  visibility: visible !important;
}
